@import './base.css';


.shadows1 {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.shadows2 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadows3 {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadows4 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shadows5 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shadows6 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shadows7 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.shadows8 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.shadows9 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shadows10 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.shadows11 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.hero-section {
    height: 100vh;
    overflow: hidden;
}

.hero-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.services img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.services .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition:0.5s ease;
}

.products .product-img {
    width: 100%;
    max-height: 135px;
    margin-bottom: 15px;
}

.products .card .product-img img {
    max-width: 100%;
    height: auto;
}

.products .card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition:0.5s ease;
}

.fs-10 {
    font-size: 10px;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-17 {
    font-size: 17px;
}
.fs-18 {
    font-size: 18px;
}
.fs-19 {
    font-size: 19px;
}
.fs-20 {
    font-size: 20px;
}

.bg-1 {
    background-image: url('../assets/images/back.jpg');
}

.port-img {
    max-height: 185px;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.port-img img{
    transition: transform .5s ease;
}

.port-img:hover img {
    transform: scale(1.5);
}

.section-two {
    background-image: url('../assets/images/header.png');
    padding: 70px;
}

.section-two h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;

}
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
